{% extends "base.twig" %}
{% block title %}Index{% endblock title %}
{% block content %}

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>
        <div id="login-box"></div>
    </div>
    <div class="row">
        <div id="login-box" class="col-md-8 col-xs-12"></div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="https://cdn.auth0.com/w2/auth0-widget-3.1.min.js"></script>
    <script type="text/javascript">

        var widget = new Auth0Widget({
            domain:         'app16816799.auth0.com',
            clientID:       's5w0wmUG5vz0knSatOCA1JG17qbPeF8J',
            callbackURL:    'http://machucarro-node-dev.herokuapp.com/authentication/callback'
        });

    </script>
{% endblock %}
