{% extends "base.twig" %}
{% block title %}Index{% endblock title %}
{% block content %}

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>
        <div id="login-box"></div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="https://cdn.auth0.com/w2/auth0-widget-3.0.min.js"></script>
    <script>

        var widget = new Auth0Widget({
            domain:         '{{ authConfig.domain }}',
            clientID:       '{{ authConfig.clientID }}',
            callbackURL:   '{{ authConfig.callbackURL }}'
        });


        widget.signin({ container: 'login-box', chrome: true, scope: 'openid profile' });
    </script>
{% endblock %}
